.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
}

.Pokedex-winner {
  color: green;
}

.Pokedex-loser {
  color: red;
}

h4 {
  text-align: center;
}
